@inject NavigationManager _navigationManager;

<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <img class="h-8" src="/images/7times8_logo.png" alt="fun factor" />
                </div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <NavMenuLink href="/Play" class="nav-item nav-item-top">Play</NavMenuLink>

                        <NavMenuLink href="/Scores" class="nav-item nav-item-top">Score board</NavMenuLink>

                    </div>
                </div>
            </div>
            <TopNavSubMenu />
            <MobileMenuButton OnClickedCallback="ToggleMobileMenu" />
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="@($"{(_showMobileMenu ? string.Empty : "hidden ")}md:hidden")" id="mobile-menu" @onclick="ToggleMobileMenu">
        <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <NavMenuLink href="/Play" class="nav-item nav-item-mobile">Play</NavMenuLink>

            <NavMenuLink href="/Scores" class="nav-item nav-item-mobile">Score board</NavMenuLink>


        </div>
        <div class="border-t border-gray-700 pt-4 pb-3">
            <div class="flex items-center px-5">
                <div class="flex-shrink-0">
                    <img class="h-10 w-10 rounded-full" src="https://avatars.githubusercontent.com/u/7704706?s=40&v=4" alt="">
                </div>
                <div class="ml-3">
                    <div class="text-base font-medium leading-none text-white">Alice</div>
                </div>
                <NotificationsButton />
            </div>
            <div class="mt-3 space-y-1 px-2">
                <NavMenuLink href="/Profile" class="nav-item nav-item-mobile">Your Profile</NavMenuLink>

                <NavMenuLink href="/Settings" class="nav-item nav-item-mobile">Settings</NavMenuLink>

                <NavMenuLink href="/Play" class="nav-item nav-item-mobile">Sign out</NavMenuLink>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool _showMobileMenu = false;
    private void ToggleMobileMenu()
    {
        _showMobileMenu = !_showMobileMenu;
    }
}